<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Hello{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body class="bg-background text-foreground">
    <header>{% include 'partials/navbar.html' %}</header>

    <main>{% block content %}{% endblock %}</main>

    <footer>I am footer</footer>
  </body>
</html>
