{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block content
%}
<div class="container mx-auto pt-16">
  <form
    id="login-form"
    class="mb-4 flex flex-col items-center gap-4 px-2"
    action="/login"
    method="POST"
  >
    <input
      class="form-input"
      type="text"
      name="username"
      placeholder="Enter username"
      autocomplete="off"
      required
    />
    <input
      class="form-input"
      type="password"
      name="password"
      placeholder="Enter password"
      autocomplete="off"
      required
    />
    <div class="flex gap-4">
      <button class="btn-primary" type="submit">Login</button>
      <button class="btn-primary" type="button">
        <a href="/register">Go to Register</a>
      </button>
    </div>
  </form>
  <div id="login-error" class="mb-4 hidden justify-center">
    <p id="login-error-message" class="error-message"></p>
  </div>
</div>
{% endblock content %}
