{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block content
%}
<div class="container mx-auto pt-16">
  <form
    class="flex flex-col items-center gap-4 px-2"
    action="/login"
    method="POST"
  >
    <input
      class="form-input"
      type="text"
      name="username"
      placeholder="Enter username"
      autocomplete="off"
    />
    <input
      class="form-input"
      type="password"
      name="password"
      placeholder="Enter password"
      autocomplete="off"
    />
    <div class="flex gap-4">
      <button class="btn-primary" type="submit">Login</button>
      <button class="btn-primary" type="button">
        <a href="/register">Go to Register</a>
      </button>
    </div>
  </form>
</div>
{% endblock content %}
