{% extends 'base.html' %} {% block title %}Register{% endblock %} {% block
content %}
<div class="container mx-auto pt-16">
  <form
    id="registration-form"
    class="mb-4 flex flex-col items-center gap-4 px-2"
  >
    <input
      class="form-input"
      type="text"
      name="username"
      placeholder="Enter username"
      autocomplete="off"
    />
    <input
      class="form-input"
      type="email"
      name="email"
      placeholder="Enter email"
      autocomplete="off"
    />
    <input
      class="form-input"
      type="password"
      name="password"
      placeholder="Enter password"
      autocomplete="off"
    />
    <input
      class="form-input"
      type="password"
      name="password2"
      placeholder="Retype password"
      autocomplete="off"
    />
    <div class="flex gap-4">
      <button class="btn-primary" type="submit">Register</button>
      <button class="btn-primary" type="button">
        <a href="/login">Go to login</a>
      </button>
    </div>
  </form>
  <div id="register-error" class="mb-4 hidden justify-center">
    <p id="register-error-message" class="error-message"></p>
  </div>
</div>
{% endblock content %}
