@import 'tailwindcss';

:root {
  --primary-color: #1e40af; /* blue-800 */
  --secondary-color: #f59e0b; /* amber-400 */
  --accent-color: #ec4899; /* pink-500 */
  --background-color: #0f172a; /* slate-900 */
  --foreground-color: #f8fafc; /* slate-50 */
  --border-color: #334155; /* slate-700 */
  --hover-color: #1d4ed8; /* blue-700 */
  --error-color: #dc2626; /* red-600 */
  --success-color: #16a34a; /* green-600 */
}

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
  --color-background: var(--background-color);
  --color-foreground: var(--foreground-color);
  --color-border: var(--border-color);
  --color-hover: var(--hover-color);
  --color-error: var(--error-color);
  --color-success: var(--success-color);
}
