@import 'tailwindcss';

:root {
  --primary-color: oklch(29.3% 0.136 325.661); /* fuchsia-950 */
  --secondary-color: oklch(25.7% 0.09 281.288); /* violet-950 */
  --warning-color: oklch(76.9% 0.188 70.08); /* amber-500 */
  --accent-color: #ec4899; /* pink-500 */
  --background-color: #020618; /* slate-950 */
  --background-light-color: #0f172a; /* slate-900 */
  --foreground-color: #f8fafc; /* slate-50 */
  --border-color: #334155; /* slate-700 */
  --hover-color: oklch(51.8% 0.253 323.949); /* fuchsia-700 */
  --error-color: #dc2626; /* red-600 */
  --error-background: #fee2e2; /* red-100 */
  --success-color: #16a34a; /* green-600 */
  --ring-color: oklch(59.1% 0.293 322.896); /* fuchsia-600 */
}

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-warning: var(--warning-color);
  --color-accent: var(--accent-color);
  --color-background: var(--background-color);
  --color-background-light: var(--background-light-color);
  --color-foreground: var(--foreground-color);
  --color-border: var(--border-color);
  --color-hover: var(--hover-color);
  --color-error: var(--error-color);
  --color-error-background: var(--error-background);
  --color-success: var(--success-color);
  --color-ring: var(--ring-color);
}

.form-input {
  @apply border-border focus-visible:ring-ring w-full rounded-md border bg-white/2 px-4 py-2 focus-visible:ring-2 focus-visible:outline-none;
}

.btn-primary {
  @apply bg-primary text-foreground hover:bg-primary/80 focus-visible:ring-ring inline-block rounded-md px-5 py-2 font-semibold hover:cursor-pointer focus-visible:ring-2 focus-visible:outline-none;
}

.btn-secondary {
  @apply bg-secondary text-foreground hover:bg-secondary/80 focus-visible:ring-ring inline-block rounded-md px-5 py-2 font-semibold hover:cursor-pointer focus-visible:ring-2 focus-visible:outline-none;
}

.btn-warning {
  @apply bg-warning text-foreground hover:bg-warning/80 focus-visible:ring-ring inline-block rounded-md px-5 py-2 font-semibold hover:cursor-pointer focus-visible:ring-2 focus-visible:outline-none;
}

.btn-danger {
  @apply bg-error text-foreground hover:bg-error/80 focus-visible:ring-ring inline-block rounded-md px-5 py-2 font-semibold hover:cursor-pointer focus-visible:ring-2 focus-visible:outline-none;
}

.btn-outline {
  @apply border-primary text-foreground hover:bg-primary/10 inline-block rounded-md border-2 px-5 py-2 font-semibold hover:cursor-pointer focus-visible:ring-2 focus-visible:outline-none;
}

.error-message {
  @apply text-error bg-error-background border-error/60 rounded-md border-2 px-4 py-1.5;
}
